*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
div{
    padding-top: 15px;
    padding-bottom: 15px ;
    font-size: 2.5rem;

}
h1,h3{
    margin: -12px 0px -12px 0px;
    text-align: center;
}
ul{
    text-align: center;
    margin: 0% auto;
    padding: 15px  0px 15px 0px 
}
li{
    display: inline;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 1.5rem;
    font-weight: bold;
}
a{
    color: #000000;
    text-decoration: none;
}
img{
    height: 290px;
    width: 382px;
}
table{
margin: 0% auto;
padding: 15px 0px 15px 0px;
}
p{
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
    padding: 0px 1px 0px 1px;
}
div{
    width: 75%;
    margin: 0% auto;
}